openapi: 3.1.0
info:
  title: Azure Traffic Manager REST Endpoints GeographicHierarchies API
  description: 'REST API for managing Azure Traffic Manager profiles, endpoints, heatmaps,

    user metrics, and geographic hierarchies via Azure Resource Manager.

    Traffic Manager is a DNS-based traffic load balancer that distributes

    traffic optimally to services across global Azure regions.

    Authentication uses Azure AD OAuth 2.0 bearer tokens.

    '
  version: '2022-04-01'
  contact:
    name: Kin Lane
    email: kin@apievangelist.com
  license:
    name: Microsoft Terms of Use
    url: https://www.microsoft.com/en-us/legal/terms-of-use
servers:
- url: https://management.azure.com
  description: Azure Resource Manager endpoint
security:
- azure_auth:
  - user_impersonation
tags:
- name: GeographicHierarchies
  description: Default geographic hierarchy
paths:
  /providers/Microsoft.Network/trafficManagerGeographicHierarchies/default:
    get:
      tags:
      - GeographicHierarchies
      summary: Get the default geographic hierarchy
      operationId: geographicHierarchies_getDefault
      parameters:
      - $ref: '#/components/parameters/apiVersion'
      responses:
        '200':
          description: OK
components:
  parameters:
    apiVersion:
      name: api-version
      in: query
      required: true
      schema:
        type: string
        default: '2022-04-01'
  securitySchemes:
    azure_auth:
      type: oauth2
      description: Azure Active Directory OAuth 2.0
      flows:
        implicit:
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/authorize
          scopes:
            user_impersonation: impersonate your user account
